<section class="blog-footer">
  <div class="container-fluid">
    <div class="quick-links">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 qiuck-btn">
          <div class="copyright text-lg-left">
            <a href="https://zuru.tech/" hrefLang="en">
              <img class="copyright-logo" src="{{site.baseurl}}/images/logo_white.png" alt="zuru-logo" id="footer-zuru-logo" /></a>
            <div class="footer-content">
              <p class="copyright-content">
                &copy;{{ 'now' | date: "%Y" }}
                Zuru Tech Ltd.
              </p>
              <p class="all-rights">All rights reserved</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 col-md-12 order-md-first col-sm-12 qiuck-btn">
          <div class="copyright-nav  text-lg-right">
            <ul>
              <li>
                <a href="https://zuru.tech/terms-of-use" class="footer-button careers" rel="noreferrer noopener"
                  id="footer-career-btn">Terms of use</a>
              </li>
              <li>
                <a href="https://zuru.tech/privacy-policy" hrefLang="en" class="footer-button privacy-policy" id="footer-privacy-btn">
                  Privacy Policy
                </a>
              </li>
              <li>
                <a href="https://zuru.tech/cookie-policy" hrefLang="en" class="footer-button" id="footer-cookie-btn">
                  Cookie Policy
                </a>
              </li>
              <li>
                <a href="https://zuru.tech/?preference=true" target="_blank" class="footer-button personal-info-btn">Do not Sell my Personal Information</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
