<section class="blog-footer">
    <div class="copyright-section zuru-grey-bg text-center">
        <div class="copyright-content mx-auto">
            <div class="row m-0">
                <div class="col-4 social-icons my-auto">
                    <a href="https://www.facebook.com/zurutechitaly/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-facebook" aria-label="facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/zuru-tech-italy" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-linkedin" aria-label="linkedin"></i>
                    </a>
                </div>
                <div class="col-8">
                    <div class="row m-0 copyright-privacy">
                        <div class="col-md-6">
                            <p class="m-0">© {{ site.time | date: '%Y' }} - {{site.copyright.name}}. All rights reserved.</p>
                        </div>
                        <div class="col-md-6 privacy-cookie">
                            <span>
                                <a href="/privacy-policy">Privacy</a> &amp;
                                <a href="/cookie-policy">Cookie Policy</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>