<footer>
    <div class="container footer-container">

        <div id="footer" class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <div class="sharing-icon">
                    <a href="https://www.facebook.com/zurutechitaly/" class="fa fa-facebook icon-maker"></a>
                    <a href="https://www.linkedin.com/company/zuru-tech-italy/" class="fa fa-linkedin icon-maker"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 custom-lh">
                <div class="row">
                    <div class="col-md-5 col-sm-5 txt-copyright">
                        <p class="m-0">©{{site.copyright.name}} - {{ site.time | date: '%Y' }}</p>
                    </div>
                    <div class="col-md-7 col-sm-7 text-right">
                        <p class="m-0">Explore our open positions or write us at
                        <a href="mailto:careers@zuru.tech">careers@zuru.tech</a></p>
                    </div>    
                </div>            
            </div>
        </div>
    </div>
</footer>
