<header class="header-section">

  <div class="Header  fixed-top">
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="navbar-brand" id="header-zuru-logo">
        <a href="https://zuru.tech/" hrefLang="en"><img class="home-logo" src="{{site.baseurl}}/images/{{site.default-image}}"
            alt="zuru-logo" id="header-zuru-logo" /></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation" onclick="toggleFunction()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="header-menu-link-wrp navbar-collapse collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="https://zuru.tech/about-us" class="header-menu-link" rel="noreferrer noopener" id="header-about-btn">About us</a>
          </li>
          <li class="nav-item careers-menu">
            <a href="https://zuru.tech/careers" class="header-menu-link" rel="noreferrer noopener" id="header-careers-btn">Careers</a>
          </li>
          <li class="nav-item">
            <a href="https://blog.zuru.tech/" hrefLang="en" class="header-menu-link" rel="noreferrer noopener"
              id="header-blog-btn">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
