/*fonts*/

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../css/roboto-regular/Roboto-Regular.eot'),
  url('../css/roboto-regular/Roboto-Regular.woff2') format('woff2'),
  url('../css/roboto-regular/Roboto-Regular.woff') format('woff'),
  url('../css/roboto-regular/Roboto-Regular.ttf') format('truetype'),
  url('../css/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg');  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../css/roboto-thin/Roboto-Thin.eot');
  src: url('../css/roboto-thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../css/roboto-thin/Roboto-Thin.woff2') format('woff2'),
  url('../css/roboto-thin/Roboto-Thin.woff') format('woff'),
  url('../css/roboto-thin/Roboto-Thin.ttf') format('truetype'),
  url('../css/roboto-thin/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 300;
  font-style: normal;
}

html{
	height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; 
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

:root {
  font-size: 16px;
}

.mb-25{
  margin-bottom: 25px;
}

.padding-0{
  padding: 0;
}

.header-link-button {
  color: #FFF !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.blog-tags-list {
  text-align: center;
}

.blog-tag-item {
  cursor: pointer;
  color: #000;
  background: #FFD42A;
  border: 1px solid #FFD42A;
  padding-left: 10px;
  margin: 5px;
}

.blog-tag-item-filtered {
  background: #FFF;
}

.blog-tags-list :last-child {
  padding-right: 10px;
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:20px, $input-border-radius:14px) {
  position: relative;
  width: $width;
  height: $height;
  float: $float;
  text-align: center;

  input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: $input-border-radius;
    background: $input-bg-color;
    box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%), inset 0 -1px 0 0 darken($input-bg-color, 10%);
    -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%), inset 0 -1px 0 0 darken($input-bg-color, 10%);
    overflow: hidden;
    left: 0;
    top: $input-top;
    width: $width;
    outline: none;
    height: $input-height;
    margin: 0;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color, 60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */
  ;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: $input-height;
    height: $input-height;
    border-radius: $input-border-radius;
    border: 0;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%); /* W3C */
  }

  input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }

  input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;
  }
}

section.range-slider {
  @include range-slider(100%, 100px, 50px, #F1EFEF, #413F41, left);
}

/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider {
  height: 22px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar {
  height: 0.1em;
  margin: 0.6em;
  background: black;
}

.ui-rangeSlider .ui-rangeSlider-handle {
  width: 1.1em;
  height: 1.1em;
  background: black;
  border-radius: 1em;
  margin-top: 0.1em;
  margin-left: -0.3em;
  cursor: col-resize;
}

.ui-rangeSlider-handle-inner {
}

.ui-rangeSlider .ui-rangeSlider-bar {
  margin: 0.1em -0.9em;
  background: #00AAFF;
  height: 0.3em;
  margin-top: 0.6em;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging {
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.ui-rangeSlider-arrow {
  height: 16px;
  margin: 2px 0;
  width: 16px;
  background-repeat: no-repeat;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow {
  background-position: center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow {
  background-position: center right;
}

.ui-rangeSlider-arrow-inner {
  display: none;
}

.ui-rangeSlider-container {
  height: 22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container {
  margin: 0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
  margin: 0;
}

.ui-rangeSlider-label {
  margin: 0 2px 2px;
  background-position: bottom center;
  background-repeat: no-repeat;
  white-space: nowrap;
  bottom: 20px;
  padding: 3px 6px 7px;
  cursor: col-resize;
  color: #333333;
  transition: color 1s ease-in;
}

.ui-rangeSlider-label-inner {
  display: none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue {
  width: 3em;
  vertical-align: middle;
  text-align: center;
}

.ui-sliderDemo {
  margin-bottom: 50px;
}

.slider,
.dateSlider {
  width: 100%;
  margin: 20px auto;
  padding-top: 20px;
}

.tick {
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  height: 20px;
  text-align: right;
}

.sliderZone dl input {
  text-align: right;
  margin-left: 5px;
  margin-right: 0;
  width: 200px;
}

.sliderZone img {
  vertical-align: middle;
}

.sliderZone dl {
  margin-bottom: 50px;
}

.sliderZone {
  height: 40px;
}

pre {
  overflow: auto;
  margin-right: 400px;
}

pre code {
  tab-interval: 2pt;
  display: block;
  border-width: 1px 1px 1px 15px;
  border-style: solid;
  border-color: #CCC;
  color: #444;
  padding: 5px 10px;
  margin: 0 5px;
  font-family: Consolas, Monaco, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

pre code .comment {
  color: #5e7f5f;
}

dt {
  font-weight: bold;
  float: left;
  clear: left;
  width: 150px;
  margin-bottom: 2px;
}

dt + dd {
  margin-top: 2px;
}

dd {
  padding-left: 15px;
  margin-left: 0;
  margin-left: 150px;
}

.sliderZone,
.logZone {
  margin-right: 400px;
}

.options {
  width: 400px;
  float: left;
  margin-left: -400px;
}

input[type=number] {
  width: 3em;
}

.options form {
  margin: 0 10px;
}

.log {
  height: 140px;
  overflow: auto;
  background-color: #555;
  font-family: Consolas Courrier "Courrier New" Monospace;
  color: #DDD;
  padding: 5px;
  list-style-type: none;
}

.log p {
  margin: 0;
  padding: 0;
}

#themeSelector {
  width: 100%;
  height: 100px;
  position: relative
}

#themeSelector dt,
#themeSelector dd {
  position: absolute;
  width: 120px;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
  border: 3px solid transparent;
}

#themeSelector dt {
  bottom: 0;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

#themeSelector dd {
  top: 0;
  padding: 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

#themeSelector .iThing {
  left: 130px;
}

#themeSelector .selected {
}

#themeSelector dd.selected {
  border-color: #68a1d6;
  border-bottom-color: transparent;
}

#themeSelector dt.selected {
  border-color: #68a1d6;
  border-top-color: transparent;
}

.panel .card-image-container > img {
  -webkit-filter: grayscale(1) contrast(1.3);
  filter: grayscale(1) contrast(1.3);
  mix-blend-mode: screen;
  opacity: .8;
}

.post-banner {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 0;
  height: 600px;
  object-fit: cover;
}

.site-header {
  position: relative;
  z-index: 10;
  background-color: #282A2D;
}

.wrapper {
  width: 100%;
  float: left;
  position: relative;
  z-index: 10;
  background: aliceblue;
  padding: 2em 15%;
  margin-top: 10em;
  box-shadow: 0px 3px 27px #333;
}

.post-container .site-header .header-link-button {
  color: #FFF !important;
}

.post-container .site-header .navbar-default {
  border-bottom: 0px;
}

.close-icon {
  display: inline-block;
  font-size: 23px;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: -5px;
}

.close-icon:hover {
  color: #FFFFFF;
  text-decoration: none
}

.post-header {
  position: relative;
}

.card .index-anchor .panel {
  height: 450px;
  border-radius: 0;
}

.card .index-anchor .panel:hover,  .card-type-jumbo-standard-01 .index-anchor .card-container:hover {
  box-shadow: -0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}
.card-type-jumbo-standard-01 .index-anchor .panel:hover{
  box-shadow: -0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}

.card .index-anchor .panel .card-image-container > img {
  height: 208px;
  object-fit: cover;
}

.card-type-jumbo-standard-01 .index-anchor .panel .card-image-container > img {
  height: 290px;
  object-fit: cover;
}

.fa {
  padding: 3px;
  width: 34px;
  text-align: center;
  text-decoration: none;
  border-radius:0.1em;
}

.fa:hover {
  opacity: 0.7;
  color:#FFFFFF;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-reddit {
  background: #4582ec;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#author-card{
  background: transparent;
}

#author-card:target{
  background: transparent;
  animation: bump 1.1s ease-in 0.1s;
  animation-fill-mode: forwards;
}

@keyframes bump {
  0% { background: transparent;}
  65% { background: cadetblue;}
  100% { background: transparent;}
}

.social-icon{
    font-size: 28px;
    float: right;
}

.txt-copyright{
  text-align: center;
}

.m-0{
  margin: 0;
}

.custom-lh{
  line-height: 44px;
}

.sharing-icon{
  font-size: 28px;
}

.author-name-title{
  font-size: 14px;
  /* letter-spacing: 2px; */
  margin: 0;
  height: 65px;
  /* float: right; */
  text-align: right;
}

.author-thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.author-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.footer-container{
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 40px;
}

.post-tags{
   display: inline-block;
   .post-tags-box{
     float: left;
     margin-right: 10px;
     border: 1px solid #333;
     border-radius: 10px;
     p{
       margin: 0;
       padding: 4px;
       text-align: center;
       min-width: 35px;
       font-size: 14px;
     }
   }
 }

.card-body{
  padding: 10px;
  border-top: 2px solid;
}

.post-suggestion-container{
  padding-top: 50px;
}
.first-large-post .card-image-container >img{
  height: 365px;
  object-fit: cover;
  filter: grayscale(1) contrast(1.3);
  mix-blend-mode: screen;
  opacity: 0.8;
}
//.first-large-post .index-anchor .panel .card-image-container >img{
//  height: 310px;
//  object-fit: cover;
//  filter: grayscale(1) contrast(1.3);
//  mix-blend-mode: screen;
//  opacity: 0.8;
//}

@font-face {
  font-family: 'HeimatMono-Light';
  src: url('../css/HeimatMono-Light.otf') format('opentype');
}

.header-hiring-btn{
  background-color: #EF472D;
  .header-link-button{
    border-radius: 0;
    border: none;
  }
  .header-link-button:hover{
    border: none;
  }
}

.card-tags-name{
  font-size: 9px;
  text-transform: uppercase;
  //margin-bottom :5px;
}

.card-title{
  font-size: 20px;
}

.card-sample-content{
  font-size: 12px;
}

.card-container{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: top;
  visibility: visible;
  background: inherit;
  overflow: hidden;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 1s cubic-bezier(.155,.86,0,1),box-shadow .2s ease-out;
  text-decoration: none!important;
  margin-bottom: 1.25rem;
  font-size: .75rem;
}

.card-art{
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: transparent;
}

.card-art-image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50%;
  background-color: inherit;
  -webkit-filter: grayscale(1) contrast(1.3);
  filter: grayscale(1) contrast(1.3);
  mix-blend-mode: screen;
}

.card-text-container{
  background-color: #D2527F;
  height: 244px;
  color: #000000;
  width: 50%;
  margin-top: 208px;
  z-index: 1;
}

.card-text-container{
  .card-sample-content{
    line-height: 2.6;
    font-weight: 300;
  }
}

.large-post-container{
  margin-left: 0;
  width: 100%;
  transition: all 1s cubic-bezier(0.155, 0.86, 0, 1),box-shadow 0.2s ease-out;
}
.large-post-container:hover {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.4);
}

/*new slider customize*/
.ui-widget-header{
  background: none !important;
  background-color: #00AAFF !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
  border-bottom-right-radius: 0.6em !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
  border-bottom-left-radius: 0.6em !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
  border-top-right-radius: 0.6em !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
  border-top-left-radius: 0.6em !important;
}

.ui-slider .ui-slider-handle {
  width: 0.9em !important;
  height: 0.9em !important;
  background: none !important;
  border: #000 !important;
  background-color: #000 !important;
}

.ui-slider-horizontal {
  height: 0.5em !important;
}

.header-hiring-btn:hover {
  background-color: #FF2100 !important;
}

/*blog image styles*/
.blog-image{
  width: 100%;
}
.blog-image-container{
  background: #FFF;
  text-align: center;
}

.blog-post-date{
  font-size: 12px;
  float: right;
  margin-top: -2px;
}

/** Custom header start **/
/*navbar*/
.blog-wrp{
  padding-top: 20px;
}
.zuru-grey-bg {
  background: #252525;
}
#mainNav{
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 999999;
}
.navbar .row {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto !important;
}
.navbar.navbar-shrink {
  border-bottom: 1px solid white;
}
.navbar-brand img {
  height: 50px;
}
.navbar-nav a {
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  user-select: none;
}
.navbar-nav a span, .blog-menu a span {
  padding-bottom: 2px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.navbar-nav a.active span, .blog-item a.active span {
  border-bottom: 2px solid #99141E;
}
.navbar-nav a.we-are-hiring {
  background: #99141E;
}
.navbar-nav a.we-are-hiring:hover span, .navbar-nav a.we-are-hiring.active span{
  border-bottom: 2px solid #FFFFFF;
}
.navbar-nav a:hover span, .blog-menu a:hover span{
  border-bottom: 2px solid #99141E;
}
button.navbar-toggler {
  border: none;
  float: left;
  outline: none;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  width: 26px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  background: white;
  height: 2px;
  margin: 5px 0;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navbar-toggler .middle-bar {
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.nav-footer-zuru span{
  text-transform: none;
}
.blog-item {
  padding-left: 6px;
}
.blog-item a{
  color: #FFFFFF;
}
.cursor-pointer{
  cursor: pointer;
}
.panel-body{
  padding: 15px;
}
/*navbar ends*/
/** Custom header end **/

.read-more{
  color: #4582ec;
}
.read-more:hover{
  text-decoration: underline;
}


/** Custom footer start **/
.copyright-section {
  padding: 20px 0;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #fff;
  margin-top: 1px;
}
.copyright-section a {
  color: #fff;
}
.copyright-section .social-icons a {
  margin: 0 10px;
}
.copyright-section .social-icons a i.fa-facebook {
  background: #3c5a99;
  padding: 4px 4px 0 9px;
}
.copyright-section .social-icons a i.fa {
  font-size: 20px;
  border-radius: 2px;
  width: unset;
}
.copyright-section .social-icons a i.fa-linkedin {
  background: #0077b5;
  padding: 4px 4px 1px;
}
.copyright-content {
  max-width: 1440px;
}
.copyright-section .social-icons a i.fa:hover{
  opacity: 1;
}
.copyright-section .social-icons a:hover{
  text-decoration: none;
}
.blog-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
/** Custom footer end **/


@media (max-width: 370px){
  .zuru-logo-div{
		max-width: 35%;
  }
  .blog-item a{
		max-width: 100px;
		font-size: 12px;
	}
}
@media (max-width: 400px){
  div.navbar-collapse ul.navbar-nav{
		height: calc(100vh - 56px - 84px);
    top: 0;
    justify-content: center;
    position: absolute;
  }
  .nav-contianer{
    height: calc(100vh - 56px - 84px) !important;
  }
}
@media (min-width: 401px) and (max-width: 767px){
	div.navbar-collapse ul.navbar-nav{
		height: calc(100vh - 56px - 113px);
  }    
}
@media (max-width: 767px){
  :root {
    --navbar-height: 70px;
    --navbar-hide-height: 3.5rem;
  }
  .zuru-logo-div, .blog-menu{
		padding: 0;
  }
  .navbar-brand img{
		width: 70px;
		height: auto;
		max-height: 24px;
  }
  div.navbar {
		height: var(--navbar-hide-height);
	}
	.navbar-collapse {
		height: calc(100vh - var(--navbar-hide-height));
		top: var(--navbar-hide-height);
	}
	.navbar-collapse.collapsing {
    height: calc(100vh - var(--navbar-height)) !important;
  }
  .navbar-brand{
    margin-top: 7px;
  }
	// body{
	// 	margin-top: var(--navbar-height) !important;
  // }
  .blog-wrp{
    padding-top: var(--navbar-height) !important;
  }
	#mainNav{
		position: fixed;
	}
	.navbar-brand.nav-link{
		position: absolute;
    padding-right: 0;
    margin-left: 3%;
  }
  .blog-item a{
    max-width: 110px;
    font-size: 13px;
  }
  .copyright-privacy {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  :root {
    --navbar-height: 5rem;
    --height-from-top: 6rem;
  }
  // body{
	// 	margin-top: var(--navbar-height) !important;
  // }
  .blog-wrp{
    padding-top: var(--height-from-top) !important;
  }
  div.navbar {
    height: var(--navbar-height);
  }
  div.navbar-collapse ul.navbar-nav{
    height: calc(100vh - var(--navbar-height) - 89px);
  }
  .navbar-collapse {
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
  }
  .navbar-collapse.collapsing {
    height: calc(100vh - var(--navbar-height)) !important;
  }
  .navbar-brand{
    margin-top: 8px;    
  }
}
@media (max-width: 991px) {
  .card-text-container{
    width: 100%;
  }
  .txt-copyright{
    text-align: right;
  }  
  .custom-lh{
    line-height: unset;
  }   
  div.navbar-collapse ul.navbar-nav{
    top: 0;
    justify-content: center;
    position: absolute;
  }
  .navbar-brand{
		position: fixed;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    left: 50%;
    margin-left: -10%;
	}
  .nav-contianer{
    height: calc(100vh - 56px - 113px);
    width: 100%;
    top: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo-and-menu {
		padding: 0;
	}
	.logo-and-menu nav.navbar {
		padding-left: 0;
		padding-right: 0;
  }
  .zuru-logo-div{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	}
	.navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    background: #252525;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .navbar-collapse ul.navbar-nav{
		margin: auto !important;
	}
  .navbar-collapse.show {
    filter: alpha(opactiy=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  .navbar-nav .nav-link{
    margin: 10px;
    padding: 10px 15px;
    font-size: 1.7rem;
  }
  // .blog-item{
  //   height: 64px;
  // }
}
@media (min-width: 992px){
  :root {
    --navbar-height: 7rem;
  }
  // body{
  //   margin-top: 5.75rem;
  // }
  .blog-wrp{
    padding-top: var(--navbar-height) !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
		padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 8px;
    letter-spacing: 1.1px;
	}
	.navbar.navbar-expand-lg{
		padding-right: 0;
	}
}
@media (max-width: 768px) {
  .card .index-anchor .panel .card-image-container>img{
     height: 280px;
   }   
}
@media (max-width: 440px) {
  .card .index-anchor .panel .card-image-container>img{
     height: 186px;
   }
   .author-name-title{
     height: auto;
   }
   .navbar-nav .nav-link{
     font-size: 0.9rem;
   }
   .copyright-section .social-icons a{
     margin: 0 5px;
   }
}
@media (min-width: 768px){
  .header-container{
    width: auto;
  }
}

/*For Phone Landscape*/
@media (min-width: 300px) and (max-width: 850px) and (orientation: landscape) {		
	.navbar-nav{
		flex-direction: unset;
	}
	.navbar-collapse{
		align-items: baseline;
	}
	.navbar-nav .nav-link{
		font-size: 0.9rem;
	}		
}
/*For Phone Landscape Ends*/