--- 
layout: compress 
---

<!DOCTYPE html>
<html>

{% include head.html %} {% assign mainTag = page.tags[0] %} {% assign postTheme = site.themeColor[mainTag] %}

<body>

    <div>
        {{ content }}
    </div>

    {% include footer.html %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap-new.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery-ui.min.js"></script>
    <script src="{{site.baseurl}}/js/jQRangeSlider.js"></script>
    <script src="{{site.baseurl}}/js/jQDateRangeSlider-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <script type="text/javascript">
        var minSliderValue = 0;
        var maxSliderValue = 0;
        var allPosts = [];
        var getTimeStamp = function (timeString) {
            return Math.round(new Date(firefoxDateIssue(timeString)).getTime() / 1000)
        };

        MathJax.Hub.Config({
            "HTML-CSS": { linebreaks: { automatic: true } },
            SVG: { linebreaks: { automatic: true } }
        });

        var firefoxDateIssue = function (time) {
            if (time.indexOf("+") || time.indexOf("-")) {
                time = time.substring(0, time.length - 6);
            }
            return time;
        };

        var getFirstPublishedDate = function (markers) {
            var min = markers[0][1];
            for (var i = 0; i < markers.length; i++) {
                if (min > markers[i][1]) {
                    min = markers[i][1]
                }
            }
            return firefoxDateIssue(min);
        };

        var getLastPublishedDate = function (markers) {
            var max = markers[0][1];
            for (var i = 0; i < markers.length; i++) {
                if (max < markers[i][1]) {
                    max = markers[i][1]
                }
            }
            return firefoxDateIssue(max);
        };

        var filterByTag = function () {
            var tagsToFilter = $(".blog-tag-item-filtered").text();
            var tagsToHide = [];
            if (tagsToFilter) {
                tagsToHide = tagsToFilter.trim().split(" ");
            }            
            for (var i = 0; i < tagsToHide.length; i++) {
                if (tagsToHide[i]) {
                    $("." + tagsToHide[i]).hide();
                }
            }
        };

        var compareArrays = function (postTags, tagsToHide) {
            var counter = 0;
            for (var i = 0; i < tagsToHide.length; i++) {
                if (postTags.indexOf(tagsToHide[i]) > -1) {
                    counter++;
                }
            }
            return counter === postTags.length;
        };

        var filterEverything = function () {
            var minTimeStamp = getTimeStamp(minSliderValue.toString());
            var maxTimeStamp = getTimeStamp(maxSliderValue.toString());    
                    
            var tagsToFilter = $(".blog-tag-item-filtered").text();
            var tagsToHide = [];
            if (tagsToFilter) {                
                tagsToHide = tagsToFilter.trim().split(" ");
            }
            var oldScrollPresence = $(document).height() > $(window).height();
            for (var i = 0; i < allPosts.length; i++) {
                var id = allPosts[i][0];
                var publishTime = allPosts[i][1];
                var postTags = allPosts[i]['tags'];                
                var publishDate = new Date(publishTime.substr(0, publishTime.indexOf(' '))); 
                var publishTimeStamp = getTimeStamp(publishDate.toString());                   
                if (publishTimeStamp > maxTimeStamp || publishTimeStamp < minTimeStamp || compareArrays(postTags, tagsToHide)) {
                    $("#" + id).hide();
                }
                else {
                    $("#" + id).show();
                }
            }
            ($(document).height() <= $(window).height() && oldScrollPresence)
                ? $("#slider").dateRangeSlider('resize') : "";
        };

        $(document).ready(function () {
            allPosts = [
                {% for post in site.posts %}
        ['{{ post.did | escape}}', '{{post.date}}']{% unless forloop.last %}, {% endunless %}
            {% endfor %}];

        var sliderMin = getFirstPublishedDate(allPosts);
        var sliderMax = getLastPublishedDate(allPosts);        
        var minDate = sliderMin.substr(0, sliderMin.indexOf(' ')); 
        var maxDate = sliderMax.substr(0, sliderMax.indexOf(' ')); 
        
        minSliderValue = minDate;
        maxSliderValue = maxDate;

        for (var j = 0; j < allPosts.length; j++) {
            var id = allPosts[j][0];
            var tagsString = $("#" + id).attr("tags");
            var tags = (!!tagsString) ? tagsString.trim().split(' ') : [];
            allPosts[j]['tags'] = tags;
        }

        console.log(allPosts);

        $('.author-name-link').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
        });

        $("#slider").dateRangeSlider({
            bounds: {
                min: new Date(minDate),
                max: new Date(maxDate)
            },
            defaultValues: {
                min: new Date(minDate),
                max: new Date(maxDate)
            }
        });

        $("#slider").bind("valuesChanging", function (e, data) {
            minSliderValue = data.values.min;
            maxSliderValue = data.values.max;
            filterEverything();
        });

        $(".blog-tag-item").click(function () {
            $(this).toggleClass('blog-tag-item-filtered');
            filterEverything();
        });

        $("#slider-range").slider({
            range: true,
            min: new Date(minDate).getTime(),
            max: new Date(maxDate).getTime(),
            step: 86400,
            values: [new Date(minDate).getTime(), new Date(maxDate).getTime()],
            slide: function (event, ui) {
                minSliderValue = new Date(ui.values[0]);
                maxSliderValue = new Date(ui.values[1]);                
                $("#dateRangeMin").text(formatDateString(ui.values[0]));
                $("#dateRangeMax").text(formatDateString(ui.values[1]));
                filterEverything();
            }
        });                
        $("#dateRangeMin").text(formatDateString($("#slider-range").slider("values", 0)));
        $("#dateRangeMax").text(formatDateString($("#slider-range").slider("values", 1)));


        /** Internal Page Banner Design Start **/
        var particleCount = 40,
            flareCount = 10,
            motion = 0.05,
            tilt = 0.05,
            color = '#FFEED4',
            particleSizeBase = 1,
            particleSizeMultiplier = 0.5,
            flareSizeBase = 100,
            flareSizeMultiplier = 100,
            lineWidth = 1,
            linkChance = 75,
            linkLengthMin = 5,
            linkLengthMax = 7,
            linkOpacity = 0.25;
        linkFade = 90,
            linkSpeed = 1,
            glareAngle = -60,
            glareOpacityMultiplier = 0.05,
            renderParticles = true,
            renderParticleGlare = true,
            renderFlares = true,
            renderLinks = true,
            renderMesh = false,
            flicker = true,
            flickerSmoothing = 15,
            blurSize = 0,
            orbitTilt = true,
            randomMotion = true,
            noiseLength = 1000,
            noiseStrength = 1;

        var canvas = document.getElementById('stars'),
            context = canvas.getContext('2d'),
            mouse = { x: 0, y: 0 },
            m = {},
            r = 0,
            c = 1000,
            n = 0,
            nAngle = (Math.PI * 2) / noiseLength,
            nRad = 100,
            nScale = 0.5,
            nPos = { x: 0, y: 0 },
            points = [],
            vertices = [],
            triangles = [],
            links = [],
            particles = [],
            flares = [];

        function init() {
            var i, j, k;

            window.requestAnimFrame = (function () {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    function (callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            resize();

            mouse.x = canvas.clientWidth / 2;
            mouse.y = canvas.clientHeight / 2;

            for (i = 0; i < particleCount; i++) {
                var p = new Particle();
                particles.push(p);
                points.push([p.x * c, p.y * c]);
            }

            var tri = [];
            for (i = 0; i < vertices.length; i++) {
                if (tri.length == 3) {
                    triangles.push(tri);
                    tri = [];
                }
                tri.push(vertices[i]);
            }
            for (i = 0; i < particles.length; i++) {
                for (j = 0; j < triangles.length; j++) {
                    k = triangles[j].indexOf(i);
                    if (k !== -1) {
                        triangles[j].forEach(function (value, index, array) {
                            if (value !== i && particles[i].neighbors.indexOf(value) == -1) {
                                particles[i].neighbors.push(value);
                            }
                        });
                    }
                }
            }

            if (renderFlares) {
                for (i = 0; i < flareCount; i++) {
                    flares.push(new Flare());
                }
            }

            if ('ontouchstart' in document.documentElement && window.DeviceOrientationEvent) {                
                window.addEventListener('deviceorientation', function (e) {
                    mouse.x = (canvas.clientWidth / 2) - ((e.gamma / 90) * (canvas.clientWidth / 2) * 2);
                    mouse.y = (canvas.clientHeight / 2) - ((e.beta / 90) * (canvas.clientHeight / 2) * 2);
                }, true);
            }
            else {                
                document.body.addEventListener('mousemove', function (e) {
                    mouse.x = e.clientX;
                    mouse.y = e.clientY;
                });
            }

            (function animloop() {
                requestAnimFrame(animloop);
                resize();
                render();
            })();
        }

        function render() {
            if (randomMotion) {
                n++;
                if (n >= noiseLength) {
                    n = 0;
                }

                nPos = noisePoint(n);
            }

            context.clearRect(0, 0, canvas.width, canvas.height);

            if (blurSize > 0) {
                context.shadowBlur = blurSize;
                context.shadowColor = color;
            }

            if (renderParticles) {
                for (var i = 0; i < particleCount; i++) {
                    particles[i].render();
                }
            }

            if (renderMesh) {
                context.beginPath();
                for (var v = 0; v < vertices.length - 1; v++) {
                    if ((v + 1) % 3 === 0) { continue; }

                    var p1 = particles[vertices[v]],
                        p2 = particles[vertices[v + 1]];

                    var pos1 = position(p1.x, p1.y, p1.z),
                        pos2 = position(p2.x, p2.y, p2.z);

                    context.moveTo(pos1.x, pos1.y);
                    context.lineTo(pos2.x, pos2.y);
                }
                context.strokeStyle = color;
                context.lineWidth = lineWidth;
                context.stroke();
                context.closePath();
            }

            if (renderLinks) {
                if (random(0, linkChance) == linkChance) {
                    var length = random(linkLengthMin, linkLengthMax);
                    var start = random(0, particles.length - 1);
                    startLink(start, length);
                }

                for (var l = links.length - 1; l >= 0; l--) {
                    if (links[l] && !links[l].finished) {
                        links[l].render();
                    }
                    else {
                        delete links[l];
                    }
                }
            }

            if (renderFlares) {
                for (var j = 0; j < flareCount; j++) {
                    flares[j].render();
                }
            }


        }

        function resize() {
            canvas.width = window.innerWidth * (window.devicePixelRatio || 1);
            canvas.height = canvas.width * (canvas.clientHeight / canvas.clientWidth);
        }

        function startLink(vertex, length) {
            links.push(new Link(vertex, length));
        }

        var Particle = function () {
            this.x = random(-0.1, 1.1, true);
            this.y = random(-0.1, 1.1, true);
            this.z = random(0, 4);
            this.color = color;
            this.opacity = random(0.1, 1, true);
            this.flicker = 0;
            this.neighbors = [];
        };
        Particle.prototype.render = function () {
            var pos = position(this.x, this.y, this.z),
                r = ((this.z * particleSizeMultiplier) + particleSizeBase) * (sizeRatio() / 1000),
                o = this.opacity;

            if (flicker) {
                var newVal = random(-0.5, 0.5, true);
                this.flicker += (newVal - this.flicker) / flickerSmoothing;
                if (this.flicker > 0.5) this.flicker = 0.5;
                if (this.flicker < -0.5) this.flicker = -0.5;
                o += this.flicker;
                if (o > 1) o = 1;
                if (o < 0) o = 0;
            }

            context.fillStyle = this.color;
            context.globalAlpha = o;
            context.beginPath();
            context.arc(pos.x, pos.y, r, 0, 2 * Math.PI, false);
            context.fill();
            context.closePath();

            if (renderParticleGlare) {
                context.globalAlpha = o * glareOpacityMultiplier;
                context.ellipse(pos.x, pos.y, r * 100, r, (glareAngle - ((nPos.x - 0.5) * noiseStrength * motion)) * (Math.PI / 180), 0, 2 * Math.PI, false);
                context.fill();
                context.closePath();
            }

            context.globalAlpha = 1;
        };

        var Flare = function () {
            this.x = random(-0.25, 1.25, true);
            this.y = random(-0.25, 1.25, true);
            this.z = random(0, 2);
            this.color = color;
            this.opacity = random(0.001, 0.01, true);
        };
        Flare.prototype.render = function () {
            var pos = position(this.x, this.y, this.z),
                r = ((this.z * flareSizeMultiplier) + flareSizeBase) * (sizeRatio() / 1000);

            context.beginPath();
            context.globalAlpha = this.opacity;
            context.arc(pos.x, pos.y, r, 0, 2 * Math.PI, false);
            context.fillStyle = this.color;
            context.fill();
            context.closePath();
            context.globalAlpha = 1;
        };

        var Link = function (startVertex, numPoints) {
            this.length = numPoints;
            this.verts = [startVertex];
            this.stage = 0;
            this.linked = [startVertex];
            this.distances = [];
            this.traveled = 0;
            this.fade = 0;
            this.finished = false;
        };
        Link.prototype.render = function () {
            var i, p, pos, points;

            switch (this.stage) {
                case 0:

                    var last = particles[this.verts[this.verts.length - 1]];
                    if (last && last.neighbors && last.neighbors.length > 0) {
                        var neighbor = last.neighbors[random(0, last.neighbors.length - 1)];
                        if (this.verts.indexOf(neighbor) == -1) {
                            this.verts.push(neighbor);
                        }
                    }
                    else {
                        this.stage = 3;
                        this.finished = true;
                    }

                    if (this.verts.length >= this.length) {
                        for (i = 0; i < this.verts.length - 1; i++) {
                            var p1 = particles[this.verts[i]],
                                p2 = particles[this.verts[i + 1]],
                                dx = p1.x - p2.x,
                                dy = p1.y - p2.y,
                                dist = Math.sqrt(dx * dx + dy * dy);

                            this.distances.push(dist);
                        }
                        this.stage = 1;
                    }
                    break;

                case 1:
                    if (this.distances.length > 0) {

                        points = [];

                        for (i = 0; i < this.linked.length; i++) {
                            p = particles[this.linked[i]];
                            pos = position(p.x, p.y, p.z);
                            points.push([pos.x, pos.y]);
                        }

                        var linkSpeedRel = linkSpeed * 0.00001 * canvas.width;
                        this.traveled += linkSpeedRel;
                        var d = this.distances[this.linked.length - 1];
                        if (this.traveled >= d) {
                            this.traveled = 0;

                            this.linked.push(this.verts[this.linked.length]);
                            p = particles[this.linked[this.linked.length - 1]];
                            pos = position(p.x, p.y, p.z);
                            points.push([pos.x, pos.y]);

                            if (this.linked.length >= this.verts.length) {
                                this.stage = 2;
                            }
                        }
                        else {
                            var a = particles[this.linked[this.linked.length - 1]],
                                b = particles[this.verts[this.linked.length]],
                                t = d - this.traveled,
                                x = ((this.traveled * b.x) + (t * a.x)) / d,
                                y = ((this.traveled * b.y) + (t * a.y)) / d,
                                z = ((this.traveled * b.z) + (t * a.z)) / d;

                            pos = position(x, y, z);
                            points.push([pos.x, pos.y]);
                        }

                        this.drawLine(points);
                    }
                    else {
                        this.stage = 3;
                        this.finished = true;
                    }
                    break;

                case 2:
                    if (this.verts.length > 1) {
                        if (this.fade < linkFade) {
                            this.fade++;

                            points = [];
                            var alpha = (1 - (this.fade / linkFade)) * linkOpacity;
                            for (i = 0; i < this.verts.length; i++) {
                                p = particles[this.verts[i]];
                                pos = position(p.x, p.y, p.z);
                                points.push([pos.x, pos.y]);
                            }
                            this.drawLine(points, alpha);
                        }
                        else {
                            this.stage = 3;
                            this.finished = true;
                        }
                    }
                    else {
                        this.stage = 3;
                        this.finished = true;
                    }
                    break;

                case 3:
                default:
                    this.finished = true;
                    break;
            }
        };
        Link.prototype.drawLine = function (points, alpha) {
            if (typeof alpha !== 'number') alpha = linkOpacity;

            if (points.length > 1 && alpha > 0) {
                context.globalAlpha = alpha;
                context.beginPath();
                for (var i = 0; i < points.length - 1; i++) {
                    context.moveTo(points[i][0], points[i][1]);
                    context.lineTo(points[i + 1][0], points[i + 1][1]);
                }
                context.strokeStyle = color;
                context.lineWidth = lineWidth;
                context.stroke();
                context.closePath();
                context.globalAlpha = 1;
            }
        };

        function noisePoint(i) {
            var a = nAngle * i,
                cosA = Math.cos(a),
                sinA = Math.sin(a),
                rad = nRad;
            return {
                x: rad * cosA,
                y: rad * sinA
            };
        }

        function position(x, y, z) {
            return {
                x: (x * canvas.width) + ((((canvas.width / 2) - mouse.x + ((nPos.x - 0.5) * noiseStrength)) * z) * motion),
                y: (y * canvas.height) + ((((canvas.height / 2) - mouse.y + ((nPos.y - 0.5) * noiseStrength)) * z) * motion)
            };
        }

        function sizeRatio() {
            return canvas.width >= canvas.height ? canvas.width : canvas.height;
        }

        function random(min, max, float) {
            return float ?
                Math.random() * (max - min) + min :
                Math.floor(Math.random() * (max - min + 1)) + min;
        }
        if (canvas) init();
        /** Internal Page Banner Design End **/


        /* fix for navigating and highlighting to section already highlighted */
        $("a[href!='']").click(function (e) {
            if ($(this.hash).length) {
                e.preventDefault();
                window.location.hash = "";
                var _this = this;
                setTimeout(function () {
                    window.location.hash = _this.hash;
                });
            }
        });
    });
        function formatDateString(value) {
            var dates = new Date(value).toLocaleString("en-GB", { year: 'numeric', month: 'long', day: 'numeric' });
            return dates;
        }
    </script> {% if site.analytics %}{% include analytics.html %}{% endif %}
</body>

</html>